@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

:root {
	--main-dark-color: #060809;
	--main-light-color: #ececec;
	--accent-color: #14a76c;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
	top: 0;
}

a {
	color: var(--main-dark-color);
	text-decoration: none;
}

.body {
	min-height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.contentHome {
	height: 90%;
}

.homepageOptions {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	padding: 0 5vw;
	overflow: hidden;
	white-space: nowrap;
}

.layout {
	height: 100vh;
}

.main {
	margin: 0 auto;
	max-width: 960;
	padding: 0 1.0875rem 1.45rem;
	position: fixed;
	top: 80px;
}

.title {
	position: absolute;
	left: 10px;
	padding-left: 10px;
	font-size: 18px;
}

.header {
	background-color: transparent;
	margin-bottom: 1.45rem;
	position: sticky;
	top: 0;
	height: 75px;
	padding: 16px;
	z-index: 10;

	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}

.header-background {
	background-color: #060809;
	position: sticky;
	top: 0;
	height: 75px;
	padding: 16px;
	z-index: 9;
	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	opacity: 0.8;
}

.siteTitle {
	margin: 0;
	padding: 16px;
	font-weight: 700;
	font-size: 24px;
	color: var(--accent-color);
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
}

.menuButton {
	border: none;
	background-color: transparent;
}

button:focus {
	outline: 0;
}

.hamburgerMenu {
	fill: var(--accent-color);
	padding: 4px;
	border: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.menuDropdown {
	font-size: 20px;
	position: fixed;
	right: 23px;
	top: 53px;
	background-color: var(--main-light-color);
	width: 125px;
	height: 180px;
	padding: 15px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.11);
	border: 1px solid var(--main-light-color);
	border-radius: 3px;
	z-index: 3;
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}

.menuItem {
	text-decoration: none;
	color: var(--main-dark-color);
	display: block;
	margin: 6px;
}

.menuItem:hover {
	color: var(--accent-color);
}

.panels {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.panelLeft {
	fill: var(--main-dark-color);
	z-index: 1;
}

.panelRight {
	fill: var(--main-light-color);
	z-index: 1;
}

.optionLeft {
	font-size: 6.5vw;
	font-weight: 700;
	color: var(--main-light-color);
	position: absolute;
	left: 10%;
	top: 30%;
}

.optionLeft:hover {
	color: var(--accent-color);
}

.optionRight {
	font-size: 6.5vw;
	font-weight: 700;
	color: var(--main-dark-color);
	position: absolute;
	right: 10%;
	bottom: 30%;
}

.optionRight:hover {
	color: var(--accent-color);
}

.voice-icon {
	height: 4vw;
}

.video-icon {
	height: 4vw;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 8vh;
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0.5vh 1vh;
	box-sizing: border-box;
}

.category-footer {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0;
	background-color: var(--main-dark-color);
}

.socialLink {
	padding: 0 1vw;
}

.socialLink > img {
	height: 3.5vh;
}

.category-body {
	background-color: var(--main-dark-color);
	/* prevent gap */
	min-height: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
	/* hide scrollbar on IE & Edge */
	-ms-overflow-style: none;
}
/* hide scrollbar on chrome, safari, opera */
.category-body::-webkit-scrollbar {
	display: none;
}

.video-content,
.voice-content {
	margin-top: 2vh;
	overflow: scroll;
	z-index: 4;
}

.video-columns {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: row;
}

.video-column-1,
.video-column-2 {
	flex: 50%;
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: column;
	align-items: flex-start;
}

.video-page-title {
	color: var(--accent-color);
	width: 100%;
	font-size: 5vw;
	margin: 0 0 20px 0;
	padding-left: 40px;
}

.video-entry {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	color: var(--main-light-color);
	font-size: 1vw;
	margin-bottom: 32px;
}

iframe {
	width: 40vw;
	height: 22vw;
}

.voice-page-title {
	color: var(--accent-color);
	width: 100%;
	font-size: 5vw;
	margin: 0 0 20px 0;
	padding-left: 40px;
}

.voice-posts {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5vh;
}

.voice-entry {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	color: var(--main-light-color);
	font-size: 1.5vw;
	margin-bottom: 32px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
}

/* Audio Player */
.wp-block-audio {
	width: 60vw;
}

/* About & Contact Pages */
.page-content {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.page-header {
	color: var(--accent-color);
	font-size: 5vw;
	margin-top: 5vh;
	margin-bottom: 3vh;
}

.page-subheader {
	color: var(--main-light-color);
	font-size: 2vw;
	margin-top: 2vh;
}

.page-description {
	color: var(--main-light-color);
	text-align: center;
	margin: 0 10vw;
}

.page-description a {
	color: var(--accent-color) !important;
}

.logo-group > div {
	display: flex;
	display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.logo-group img {
	width: 15vw;
	height: auto;
}

.wp-social-link svg {
	fill: black;
}

.wp-social-link-mail {
	background-color: lightgray !important;
}

@media only screen and (max-width: 812px) {
	.menuDropdown {
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		border: none;
		align-items: center;
		font-size: 8vh;
		background-color: var(--main-dark-color);
	}

	.menuItem {
		color: var(--main-light-color);
	}

	.hamburgerMenu {
		padding: 4px;
		height: 35px;
		width: 35px;
		z-index: 10;
	}

	.optionLeft,
	.optionRight {
		font-size: 8vw;
	}

	.logo-group > div {
		display: flex;
		display: -webkit-box; /* iOS 6-, Safari 3.1-6, BB7 */
		display: -ms-flexbox; /* IE 10 */
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
	}

	.logo-group img {
		width: 40vw;
		height: auto;
	}

	.wp-image-197,
	.wp-image-144 {
		width: 50vw;
		height: auto;
	}
}
